extends portfolioLayout
block content
  div.headline.clearfix
    div.left
      a(href='/' style='font-size:2em;') ACE Hardware
      a(href='/' style='font-size:1em;') Atlantic Press

    div.right(style='text-align: right; display: inline-block;')
      a(href='/' style='font-size:1.5em;') Production Artist
    
      a(href='/' style='font-size:1em;') ROP
      a(href='/' style='font-size:1em;') InDesign
      a(href='/' style='font-size:1em;') Photoshop
      a(href='/' style='font-size:1em;')  

  nav
    a(href='/') projects
    span &nbsp;| &nbsp;
    a(href='/resume') resume
    span &nbsp;| &nbsp;
    a(href='/bank_one') next
    
  main.center
    img(src='images/ace/ace.png' width='65%')

