extends portfolioLayout
block content
  div.headline.clearfix
    div.left
      a(href='/' style='font-size:2em;') ALDI Foods
      a(href='/' style='font-size:1em;') John & Low Advertising

    div.right(style='text-align: right; display: inline-block;')
      a(href='/' style='font-size:1.5em;') Graphic Designer
    
      a(href='/' style='font-size:1em;') Flyer, ROP & Banner
      a(href='/' style='font-size:1em;') Illustrator
      a(href='/' style='font-size:1em;') Photoshop
      a(href='/' style='font-size:1em;') Quark  

  nav
    a(href='/') projects
    span &nbsp;| &nbsp;
    a(href='/resume') resume
    span &nbsp;| &nbsp;
    a(href='/ace') next

  main.center
    img(src='images/aldi/aldi.png' width='80%')
    
