extends portfolioLayout
block content
  div.headline.clearfix
    div.left
      a(href='/' style='font-size:2em;') And more...
      a(href='/' style='font-size:1em;') 

    div.right(style='text-align: right; display: inline-block;')
      a(href='/' style='font-size:1.5em;') Designer/Production Artists
      a(href='/' style='font-size:1.5em;') 

      a(href='/' style='font-size:1em;') L&M, Virginia Slims, Post Office & Alliance Bakery
      a(href='/' style='font-size:1em;') Quark, Photoshop & Illustrator

  nav
    a(href='/') projects
    span &nbsp;| &nbsp;
    a(href='/resume') resume
    
  main
    img(src='images/muchMore/muchMore.png' width='100%')
   
