extends portfolioLayout
block content
  div.headline.clearfix
    div.left
      a(href='/' style='font-size:2em;') Kennedy High School
      a(href='/' style='font-size:1em;') Chicago Public Schools

    div.right(style='text-align: right; display: inline-block;')
      a(href='/' style='font-size:1.5em;') Graphic Designer
    
      a(href='/' style='font-size:1em;') Banners, Tri-Fold
      a(href='/' style='font-size:1em;') Illustrator
      a(href='/' style='font-size:1em;') Photoshop
      a(href='/' style='font-size:1em;')   

  nav
    a(href='/') projects
    span &nbsp;| &nbsp;
    a(href='/resume') resume
    span &nbsp;| &nbsp;
    a(href='/hallmark') next
    
  main.center
    img(src='images/kennedy/kennedy.png' width='80%')
    
