extends wslayout

block content
  .flexbox
    a(href='aldi').flex-item.l1
      div
        | ALDI Foods
    a(href='ace').flex-item.l2
      div
        | ACE Hardware
    a(href='bank_one').flex-item.l3
      div
        | Bank One

  .flexbox
    a(href='chicago_public_schools').flex-item.l4
      div
        | CPS Kennedy High School
    a(href='hallmark').flex-item.l5
      div
        | Hallmark
    a(href='jhalcomb').flex-item.l6
      div
        | JHalcomb Advertising

  .flexbox
    a(href='l_m').flex-item.l7
      div
       | L&M Cigarettes
    a(href='virginia_slims').flex-item.l8
      div
       | Virginia Slims
    a(href='/contact').flex-item.l9
      div
        | 

        
  
