doctype html
html
head
    link(href="stylesheets/home.css" rel="stylesheet")
    title= title
    
body
        
    main
        img(src='images/develop/develop.png' style='filter: opacity(100%)' width='100%')
        nav.nav.center
            a(href='/design') design
            a(href='https://julietta007.github.io') develop
            a(href='/contact') contact

            div.center.design
                a(href='https://julietta007.github.io' style='font-size:2em') develop;
               
                a(href='https://julietta007.github.io' br style='font-size:.5em') portfolio
