doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styleResume.css')
    link(rel='stylesheet', href='/stylesheets/gradientstyle.css')
    link(href="https://fonts.googleapis.com/css?family=Montserrat|Nanum+Gothic" rel="stylesheet")

  body
    div.headline.clearfix
      div.left
        a(href='/' style='font-size:2em;') Julietta Hensgen

        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        a(href='/' style='font-size:1.25em;') Designer/Developer           
        a(href='/' style='font-size:1em;') Adobe CC – InDesign, Illustrator, Photoshop & Quark  
    
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
        a(href='/' style='font-size:1em;') HTML, CSS, PHP, JavaScript, AJAX, Bootstrap, MongoDB, Express, 
        a(href='/' style='font-size:1em;') Angular, Apache Cordova, Ionic, jQuery, MySQL & CakePHP
    
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        a(href='/' style='font-size:1em;') jhensgendesign@gmail.com

        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        a(href='/' style='font-size:1em;') 

        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;




    block content

