extends portfolioLayout
block content
  div.headline.clearfix
    div.left
      a(href='/' style='font-size:2em;') Hallmark
      a(href='/' style='font-size:1em;') Publicis

    div.right(style='text-align: right; display: inline-block;')
      a(href='/' style='font-size:1.5em;') Designer/Production
    
      a(href='/' style='font-size:1em;') FSI, Mailer & Newspaper Wrap
      a(href='/' style='font-size:1em;') Illustrator
      a(href='/' style='font-size:1em;') Photoshop
      a(href='/' style='font-size:1em;')

  nav
    a(href='/') projects
    span &nbsp;| &nbsp;
    a(href='/resume') resume
    span &nbsp;| &nbsp;
    a(href='/jhalcomb') next
    
  main.center
    img(src='images/hallmark/hallmark.png' width='80%')

