extends portfolioLayout
block content
  div.headline.clearfix
    div.left
      a(href='/' style='font-size:2em;') JHalcomb Design
      a(href='/' style='font-size:1em;') Jeff Halcomb

    div.right(style='text-align: right; display: inline-block;')
      a(href='/' style='font-size:1.5em;') Graphic Designer
    
      a(href='/' style='font-size:1em;') ROP, & New Business Pitch
      a(href='/' style='font-size:1em;') Quark
      a(href='/' style='font-size:1em;') Type Styler
      a(href='/' style='font-size:1em;') Photoshop 

  nav
    a(href='/') projects
    span &nbsp;| &nbsp;
    a(href='/resume') resume
    span &nbsp;| &nbsp;
    a(href='/l_m') next
    
  main.center
    img(src='images/auto/auto.png' width='80%')
