extends portfolioLayout
block content
  div.headline.clearfix
    div.left
      a(href='/' style='font-size:2em;') Kohls
      a(href='/' style='font-size:1em;') Spec Work

    div.right(style='text-align: right; display: inline-block;')
      a(href='/' style='font-size:1.5em;') Graphic Designer
      a(href='/' style='font-size:1.5em;') 

      a(href='/' style='font-size:1em;') ROP 
      a(href='/' style='font-size:1em;') Photoshop
      a(href='/' style='font-size:1em;') Illustrator
      a(href='/' style='font-size:1em;') 

  nav
    a(href='/') projects
    span &nbsp;| &nbsp;
    a(href='/resume') resume
    span &nbsp;| &nbsp;
    a(href='/resume') next
    
  main
    img(src='images/spec/kohlsFB.png' width='100%')
    img(src='images/spec/kohlsInside.png' width='100%')
