extends portfolioLayout
block content
  div.headline.clearfix
    div.left
      a(href='/' style='font-size:2.5em;') L&M Cigarettes
      a(href='/' style='font-size:1.25em;') Seven World Wide

    div.right(style='text-align: right; display: inline-block;')
      a(href='/' style='font-size:2em;') Production Artist
      a(href='/' style='font-size:2em;') 

      a(href='/' style='font-size:1em;') ROP, P.O.S. Bag 
      a(href='/' style='font-size:1em;') Quark
      a(href='/' style='font-size:1em;') Illustrator
      a(href='/' style='font-size:1em;') 

  nav
    a(href='/') projects
    span &nbsp;| &nbsp;
    a(href='/resume') resume
    span &nbsp;| &nbsp;
    a(href='/virginia_slims') next
    
  main.center
    img(src='images/l_m/l_m.png' width='65%')

