doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styleResume.css')
    link(rel='stylesheet', href='/stylesheets/gradientstyle.css')
    link(href="https://fonts.googleapis.com/css?family=Montserrat|Nanum+Gothic" rel="stylesheet")

  body
    
    main
      block content

    script(defer, src="https://use.fontawesome.com/releases/v5.0.4/js/all.js")

      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


  div.center   
    a(href='/') HTML, CSS, PHP, JavaScript, AJAX, Bootstrap, MongoDB, Express, Angular, Apache Cordova, Ionic, jQuery, MySQL and CakePHP
