extends wslayout

block content
    
  .row
    .col
      hr
      h3 Freelance   
        small(style='font-weight:bold')  • 11/2003–Present
        ul(style="list-style-type:square")

      li BEP–Production Artist 2003 
      li Ileo Publicis–Production Artist 2003
      li Laughlin Constable–Production Artist 2003
      li Ogilvy & Mather–Production Artist 2003
      li Bank One | Graphic Designer 2004
      li Draft–Production Artist 2004
      li Fast Forward–Production Artist 2004
      li Alliance Bakery–Graphic Designer 2009
      li Kennedy High School–Graphic Designer 2015
      li Woodland Village Mobile Park | Graphic Designer 2016
      li HUSC–Hoffman United Soccer Club | Graphic Designer 2018
      li www.BabyTotsTraining.com–Graphic Designer 2018

      p
      h3 Technical Skills
      p Adobe CC - InDesign - Illustrator - Photoshop
      p JavaScript, CSS, HTML, jQuery, Bootstrap,
      p LAMP (Linux, Apache, MySQL, PHP) 
      p MEAN (MongoDB, Express, Angular, Node.js)
      p
      h3 Education
      p American Academy of Art | Chicago, Illinois 
      p Columbia | Chicago, Illinois
      p Scrum Master 2018 | Chicago, Illinois
      p Agile Full-Stack Web & Hybrid Mobile Application Development 2018
      p  | Chicago, Illinois
      p
      h3 Social Media
      p
       a(href="https://www.linkedin.com/in/julietta-hensgen-72bb195") https://www.linkedin.com/in/julietta-hensgen-72bb195
      p
       a(href="https://github.com/julietta007") https://github.com/julietta007
    .col
      hr
      h3 Full-Time Freelance
      h4 ALDI Foods • Graphic Designer • 10/2004-3/2009
      p Worked on-sight at an in-house design studio for ALDI foods.
      p Created 4-color, in-store flyers, inserts, posters, award plaques
      p newspaper ROPs & grand opening announcements. Photoshop 
      p images to create scenes for products being displayed in-store.
      p Worked one-on-one with color separator to resolve printing concerns.
      p &nbsp
      h3 Full-Time
      h4 Capps Digital–Publicis • Production Artist • 6/2001–11/2002
      p High concentration of photoshop on Hallmark ads for CVS and
      p Walgreens. Executed point-of-sale. and direct mail for Virginia Slims
      p and Hallmark. Worked on a variety of accounts such as Tampax,  
      p Disney, Marlboro, and Starbucks. Functioned in dual capacity due
      p to staffing restrictions. Created sell sheets for records.
      p &nbsp
      h4 Seven World Wide, Inc., • Digital Artist • 12/1999–6/2001
      p In-house design/production studio for Leo Burnett. Executed 
      p point of sale, direct mail and national ads. Produced a yearly
      p calendar notebook for Virginia Slims, known as “Book of Days”.
      p Contributed to the success of a new business pitch for L&M cigarettes.
      p Client list included State Farm, Polaroid, Tampax, Chesterfield, 
      p Virginia Slims, L&M and Marlboro. Worked closely with
      p art directors through the BCOM 3 transition
      p &nbsp
      h3 Volunteer
      p Alexian Brothers Hospital, Kohls Cares, Feed My Starving Children
